#Logging into git and cloning it into the colab runtime files

In [1]:
!git version

git version 2.34.1

In [2]:
!git config --global user.email “hiscott2000@gmail.com”

In [3]:
!git config --global user.name “ScottGrant528”

In [4]:
!git clone https://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@github.com/ScottGrant528/honours.git

Cloning into 'honours'...
remote: Enumerating objects: 61, done.
remote: Counting objects: 100% (61/61), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 61 (delta 14), reused 56 (delta 9), pack-reused 0
Receiving objects: 100% (61/61), 1.38 MiB | 8.65 MiB/s, done.
Resolving deltas: 100% (14/14), done.

#Car Price Prediction Tool

In [5]:
#global imports
import pandas as pd
import matplotlib.pyplot as plt

# Dataset import

In [6]:
audi = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/audi.csv')
bmw = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/bmw.csv')
ford = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/ford.csv')
hyundi = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/hyundi.csv')
merc = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/merc.csv')
skoda = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/skoda.csv')
toyota = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/toyota.csv')
vauxhall = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/vauxhall.csv')
vw = pd.read_csv('/content/honours/datasets/UK_Used_Car_Set/vw.csv')

##Exploring the Datasets

In [7]:
#Storing the lengths
audi_length = len(audi)
bmw_length = len(bmw)

ford_length = len(ford)
hyundi_length = len(hyundi)
merc_length = len(merc)
skoda_length = len(skoda)
toyota_length = len(toyota)
vauxhall_length = len(vauxhall)
vw_length = len(vw)

# Print the lengths
print("Length of audi:", audi_length)
print("Length of bmw:", bmw_length)
print("Length of ford:", ford_length)
print("Length of hyundi:", hyundi_length)
print("Length of merc:", merc_length)
print("Length of skoda:", skoda_length)
print("Length of toyota:", toyota_length)
print("Length of vauxhall:", vauxhall_length)
print("Length of vw:", vw_length)

# Calculate and print the total length
total_length = sum([audi_length, bmw_length, ford_length, hyundi_length, merc_length, skoda_length, toyota_length, vauxhall_length, vw_length])
print("\nTotal size of the Dataset:", total_length)

Length of audi: 10668
Length of bmw: 10781
Length of ford: 17965
Length of hyundi: 4860
Length of merc: 13119
Length of skoda: 6267
Length of toyota: 6738
Length of vauxhall: 13632
Length of vw: 15157

Total size of the Dataset: 99187

In [8]:
#getting data types information
audi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB

In [9]:
#Exploring the unique values in the dataset
print(f'The unique values in the Audi dataset are:\n')
def get_unique_values(dataset):
    unique_values_dict = {}
    for column in dataset.columns:
        unique_values = dataset[column].unique()
        unique_values_dict[column] = unique_values
    return unique_values_dict

unique_values_result = get_unique_values(audi)
for column, unique_values in unique_values_result.items():
    print(f"Unique values in the '{column}' column:")
    print(unique_values)
    print("\n")

The unique values in the Audi dataset are:

Unique values in the 'model' column:
[' A1' ' A6' ' A4' ' A3' ' Q3' ' Q5' ' A5' ' S4' ' Q2' ' A7' ' TT' ' Q7'
 ' RS6' ' RS3' ' A8' ' Q8' ' RS4' ' RS5' ' R8' ' SQ5' ' S8' ' SQ7' ' S3'
 ' S5' ' A2' ' RS7']


Unique values in the 'year' column:
[2017 2016 2019 2015 2014 2018 2013 2020 2004 2009 2012 2010 2007 2011
 2008 2003 2005 2002 2006 1998 1997]


Unique values in the 'price' column:
[12500 16500 11000 ... 21291 12380  3750]


Unique values in the 'transmission' column:
['Manual' 'Automatic' 'Semi-Auto']


Unique values in the 'mileage' column:
[15735 36203 29946 ...  4018  1978  8646]


Unique values in the 'fuelType' column:
['Petrol' 'Diesel' 'Hybrid']


Unique values in the 'tax' column:
[150  20  30 145 125 200   0 205 160 235 260 325 300 165 240 565 265 135
 570 555 140 330 305 155 580 290 195 115 295 220 230 280 315 535 190 540
 515]


Unique values in the 'mpg' column:
[ 55.4  64.2  67.3  49.6  58.9  61.4  70.6  60.1  57.6  52.3  53.3  56.5
  47.1  47.9  62.8  76.3  51.4  65.7  68.9  50.4  72.4  38.7  74.3  42.8
  83.1  57.7  54.3  40.4  44.1  33.2  42.2  44.8  48.7  37.7  35.8  40.9
  45.6  34.   29.4  39.8  39.2  41.5  38.2  32.1  30.7  34.9  43.5  36.2
  30.1  32.8  29.7  26.4  33.6  34.5  46.3  37.2  80.7  28.8  31.7  32.5
  31.4 141.3  31.   35.3  36.7 117.7  29.1  21.4  19.6  26.9  21.1  76.4
 156.9 188.3  24.1  22.1  21.6  23.  176.6  22.8  22.4  22.6  24.8  21.9
  38.1  42.1  50.   19.3  28.5  21.   28.2  30.4  43.4  37.6  20.3  30.8
  51.3  27.4  33.3  27.2  34.4  18.9  25.   44.5]


Unique values in the 'engineSize' column:
[1.4 2.  1.  3.  1.6 1.8 1.5 4.  2.5 1.2 4.2 2.9 5.2 1.9 2.7 0.  3.2 4.1
 6.3]

In [10]:
#Checking unique values of the engine size column in closer detail
engine_size_counts = audi['engineSize'].value_counts()
print(engine_size_counts)

2.0    5169
1.4    1594
3.0    1149
1.6     913
1.5     744
1.0     558
4.0     154
1.8     126
2.5      61
0.0      57
2.9      49
1.2      31
4.2      25
5.2      23
3.2       5
1.9       4
2.7       3
4.1       2
6.3       1
Name: engineSize, dtype: int64

The Car's with an engine size of '0.0' are electric cars.

So now I need to combine all datasets into a singular one, and split off electric cars into their own. I could have multiple versions of the dataset to test on which the algorithms work best on.

In [11]:
datasets = [audi, bmw, ford, hyundi, merc, skoda, toyota, vauxhall, vw]
engine_size_zero = 0.0
count = 0

for df in datasets:
    engine_size_counts = df['engineSize'].value_counts()
    if 0.0 in engine_size_counts.index:
           count += engine_size_counts[0.0]

# Print the total number of engine sizes equal to 0.0 across all datasets
print(f"Total number of engine sizes equal to {engine_size_zero} across all datasets: {count}")

Total number of engine sizes equal to 0.0 across all datasets: 273

### Combinding the datasets into a singular one

In [12]:
# Add a 'make' column to each DataFrame
audi['make'] = 'audi'
bmw['make'] = 'bmw'
ford['make'] = 'ford'
hyundi['make'] = 'hyundi'
merc['make'] = 'mercedes'
skoda['make'] = 'skoda'
toyota['make'] = 'toyota'
vauxhall['make'] = 'vauxhall'
vw['make'] = 'volkswagen'
vw.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.6,2.0,volkswagen
1,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.6,2.0,volkswagen
2,T-Roc,2019,20000,Manual,7414,Diesel,145,50.4,2.0,volkswagen
3,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.5,2.0,volkswagen
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.8,1.5,volkswagen

In [13]:
#Rename the column 'tax(£)' to 'tax'
hyundi.rename(columns={'tax(£)': 'tax'}, inplace=True)
hyundi.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,I20,2017,7999,Manual,17307,Petrol,145,58.9,1.2,hyundi
1,Tucson,2016,14499,Automatic,25233,Diesel,235,43.5,2.0,hyundi
2,Tucson,2016,11399,Manual,37877,Diesel,30,61.7,1.7,hyundi
3,I10,2016,6499,Manual,23789,Petrol,20,60.1,1.0,hyundi
4,IX35,2015,10199,Manual,33177,Diesel,160,51.4,2.0,hyundi

In [14]:
#Making a combined used car dataset
UsedCarDataset = pd.DataFrame()

# Concatenate the DataFrames into a single DataFrame
UsedCarDataset = pd.concat(datasets, ignore_index=True)

In [15]:
UsedCarDataset.sample(10)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
87779,Golf,2014,12685,Manual,57993,Diesel,20,67.3,2.0,volkswagen
84822,Golf,2019,15449,Manual,9352,Petrol,145,49.6,1.0,volkswagen
39979,I10,2017,7298,Manual,5970,Petrol,150,60.1,1.0,hyundi
4168,Q3,2019,24990,Manual,6000,Petrol,145,42.2,1.5,audi
48801,CLS Class,2017,21290,Semi-Auto,38736,Diesel,125,57.7,2.1,mercedes
60502,Karoq,2018,18995,Manual,11050,Petrol,145,52.3,1.5,skoda
6779,A1,2017,9790,Manual,50095,Diesel,0,76.3,1.6,audi
18657,4 Series,2016,17999,Automatic,21280,Petrol,145,48.7,2.0,bmw
39247,Fiesta,2016,9000,Automatic,29727,Petrol,145,47.9,1.6,ford
52239,A Class,2019,22699,Automatic,1770,Diesel,145,62.8,1.5,mercedes

In [16]:
engine_size_counts = UsedCarDataset['engineSize'].value_counts()
count = 0
if 0.0 in engine_size_counts.index:
  count += engine_size_counts[0.0]
print(count)

273

In [17]:
#DataFrame for electric cars
electric = pd.DataFrame()

# Extract rows where engineSize is 0
electric_df = UsedCarDataset[UsedCarDataset['engineSize'] == 0]

# Add the extracted rows to the 'electric' DataFrame
electric = pd.concat([electric, electric_df], ignore_index=True)

# Remove the extracted rows from the original DataFrame
UsedCarDataset.drop(electric_df.index, inplace=True)

In [18]:
electric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         273 non-null    object
 1   year          273 non-null    int64
 2   price         273 non-null    int64
 3   transmission  273 non-null    object
 4   mileage       273 non-null    int64
 5   fuelType      273 non-null    object
 6   tax           273 non-null    int64
 7   mpg           273 non-null    float64
 8   engineSize    273 non-null    float64
 9   make          273 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 21.5+ KB

In [19]:
engine_size_counts = UsedCarDataset['engineSize'].value_counts()
print(engine_size_counts)

2.0    27233
1.0    17323
1.5    11418
1.4    11027
1.6     8837
1.2     6963
3.0     5447
2.1     4018
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      469
2.5      456
4.0      357
2.9      171
2.3      153
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
3.2       27
1.9       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
6.6        2
4.1        2
6.0        2
3.7        2
6.3        1
5.4        1
4.3        1
4.5        1
Name: engineSize, dtype: int64

Remove the all engine sizes under 100 as these may reduce accuracy

In [24]:
# An Array of all engine sizes below 100
engine_sizes_to_remove = [4.4,2.4,5.0,5.5,2.8,3.2,1.9,4.2,4.7,5.2,3.5,6.2,2.7,0.6,6.6,4.1,6.0,3.7,6.3,5.4,4.3,4.5]


enginesToDrop = pd.DataFrame()
for x in engine_sizes_to_remove:
  # Filter rows with engineSize equal to x
    engine_subset = UsedCarDataset[UsedCarDataset['engineSize'] == x]

    # Check if the filtered DataFrame is not empty
    if not engine_subset.empty:
        # Append the non-empty DataFrame to enginesToDrop
        enginesToDrop = pd.concat([enginesToDrop, engine_subset])
enginesToDrop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 475 entries, 11028 to 70358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         475 non-null    object
 1   year          475 non-null    int64
 2   price         475 non-null    int64
 3   transmission  475 non-null    object
 4   mileage       475 non-null    int64
 5   fuelType      475 non-null    object
 6   tax           475 non-null    int64
 7   mpg           475 non-null    float64
 8   engineSize    475 non-null    float64
 9   make          475 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 40.8+ KB

In [26]:
#Dropping the engine sizes
UsedCarDataset.drop(enginesToDrop.index, inplace=True)

In [27]:
engine_size_counts = UsedCarDataset['engineSize'].value_counts()
print(engine_size_counts)

2.0    27233
1.0    17323
1.5    11418
1.4    11027
1.6     8837
1.2     6963
3.0     5447
2.1     4018
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      469
2.5      456
4.0      357
2.9      171
2.3      153
Name: engineSize, dtype: int64

Removing cars with transmission type of 'Other'

In [31]:
transmission_counts = UsedCarDataset['transmission'].value_counts()
print(transmission_counts)

Manual       56193
Semi-Auto    22539
Automatic    19699
Other            8
Name: transmission, dtype: int64